/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/
html{
    background-color: #d9bca3;
}
.top-banner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-image: url("img/CoffeeBeanHeader.png");
    margin: 0px;
    padding: 0px 20px;
    border: 2px solid #59352d;
}
.submit{
    display:flex;
    align-items: center;
}

.top-banner h1{
    color: #f5ece6;
    text-shadow: 2px 2px 4px black;
    font-size: 50px;
    margin:10px;
}
#roast-selection{
    width:75px;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 30px;
    margin:0px 5px;
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
}
.searchbar{
    width:100px;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 25px;
    margin:5px 0px;
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
}

.buttons{
    /*align-items: center;*/
    color: #f5ece6;
    text-shadow: 4px 4px 8px black;
    background-color: transparent;
    /*border:none;*/
    padding:0px 5px 0px 5px;
    margin: 2px;
    border: 4px solid #f5ece6;
    border-radius:50px;
}
.buttons:hover{
    cursor: pointer;
}
i{
    margin:10px;
}
.dropdown{
    display:flex;
}
#signIn{
    justify-content:start;
}
#loginBtn{
    color: #34201b;
}
.buttons:active{
    color: #59352d;
}
#addCoffeeBtn{
    display: none;
}
.card{
    border: 2px solid #a3afbf;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #f5ece6;
    margin:10px;
}
.card .image{
    padding: 0px 5px;
    margin:0px;
    align-items: center;
}

.card .card-title{
    margin: 0px;
    text-align: center;
    color: #59352d;
    text-shadow: 1px 1px 1px #BF5349;
}
.card .card-body{
    margin: 0px;
    padding: 0px 5px;
    color: #59352d;
}
.card .roast-type{
    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;
    color: #BF5349;
    /*text-shadow: 1px 1px 1px #59352d;*/
}
hr{
    width: 95%;
    border-top: 5px solid #59352d;
    background-color: #a3afbf;
}

.cards{
    display:flex;
    flex-wrap:wrap;
}
.show-flex{
    display:flex;
}
.show{
    display:block;
}

.hide{
    display: none;
}
.loginForm{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 60%;
    top: 0;
    background-color: #D9A689;
    /*transform:translate(-40%,10%);*/
    width: 300px;
    height: 200px;
    text-align: center;
}
#modal-dimmer{
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #34201b;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .5;
    display: none;

}
.modalContainer{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background-color: #D9A689;
    border: 5px solid #59352d;
    border-radius: 25px;
    text-align: center;
}
.modalHeader{
    margin:40px 0px 15px 0px;
    color:#f5ece6;
    text-shadow: 2px 2px 4px black;
}
.modalSubHeaders{
    color:#f5ece6;
    text-shadow: 2px 2px 4px black;
    padding:10px;
    font-size: large;
}
.modalBoxes{
    margin:8px;
    width:75%;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 30px;
    /*margin:0px 5px;*/
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
    color:#a3afbf;
}
.modalBoxes:focus{
    color: #59352d;
}
#modalBtn{
    width:50%;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 30px;
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
    color:#34201b;
}
.submitBtns:active{
    background-color: #59352d;
    color: blue;
}


@media screen and (min-width:650px) {
    #btn1 {
        display:none;
    }
}
@media screen and (max-width:650px) {
    #myDropDown {
        display:none;
    }
}