body{
    margin:0;
}
html{
    background-color: #d9bca3;
}
.mainContent{
    padding:10px;
    margin:10px;
}
.top-banner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-image: url("img/CoffeeBeanHeader.png");
    margin: auto;
    padding: 0px 20px;
    border: 2px solid #59352d;
}
.submit{
    display:flex;
    align-items: center;
}

.top-banner h1{
    color: #f5ece6;
    text-shadow: 2px 2px 4px black;
    font-size: 50px;
    margin:10px;
    font-family: Berkshire Swash, sans-serif;
}
#roast-selection{
    width:75px;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 30px;
    margin:0px 5px;
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
}
.searchbar, .logInBar{
    width: 300px;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 25px;
    margin:5px 0px;
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
    font-family: Open Sans, sans-serif;
}

.buttons{
    /*align-items: center;*/
    color: #f5ece6;
    text-shadow: 4px 4px 8px black;
    background-color: transparent;
    /*border:none;*/
    padding:0px 5px 0px 5px;
    margin: 2px;
    border: 4px solid #f5ece6;
    border-radius:50px;
}
.buttons:hover{
    cursor: pointer;
}
i{
    margin:10px;
}
.dropdown{
    display:flex;
}
#signIn{
    justify-content:start;
}
#loginBtn{
    color: #34201b;
}
.buttons:active{
    color: #59352d;
}
#addCoffeeBtn{
    display: none;
}
.card{
    border: 2px solid #a3afbf;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #f5ece6;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #3f2a21;
}
.card .image{
    padding: 0 5px;
    margin:0;
    align-items: center;
    border-radius: 100px;
}

.card .card-title{
    margin: 0;
    padding: 2px;
    text-align: center;
    color: #34201b;
    /*text-shadow: 1px 1px 1px #BF5349;*/
    font-family: Berkshire Swash, sans-serif;

}
.card .card-body{
    margin: 0;
    padding: 0 5px;
    color: #59352d;
    font-family: Open Sans, sans-serif;
}
.card .roast-type{
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
    color: #BF5349;
    /*text-shadow: 1px 1px 1px #59352d;*/
    font-family: Open Sans, sans-serif;
}
.removeBtn{
    position:absolute;
    border-radius: 100px;
    border: 2px solid #a3afbf;
    margin:2px;
    color:#BF5349;
    background-color: #f5ece6;
    padding:0;
}
.removeBtn:hover{
    cursor: pointer;
}
.removeBtn:active{
    color: #59352d;
    background-color: #a3afbf;
}
hr{
    width: 95%;
    border-top: 5px solid #59352d;
    background-color: #a3afbf;
}
.cards{
    width: 100%;
    display:grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.navbar{
    display:flex;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.loginForm{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    min-width: 25%;
    text-align: center;
    right: 5%;
    padding:10px;
}
.searchForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    min-width: 25%;
    text-align: center;
    right: 5%;
    padding:10px;
}
#modal-dimmer{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #34201b;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .5;
    display: none;
}
.modalContainer{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 40%;
    height: 35%;
    background-color: #D9A689;
    border: 5px solid #59352d;
    border-radius: 25px;
    text-align: center;
}
.modalContent{
    gap: 2rem;
}
.modalHeader{
    margin:40px 0px 15px 0px;
    color:#f5ece6;
    text-shadow: 2px 2px 4px black;
}
.modalSubHeaders{
    color:#f5ece6;
    text-shadow: 2px 2px 4px black;
    padding:10px;
    font-size: large;
}
.modalBoxes{
    margin:8px;
    width:50%;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 30px;
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
    color:#a3afbf;
}
.modalBoxes:focus{
    color: #59352d;
}
.modalBtn{
    width:30%;
    border:1px solid #a3afbf;
    border-radius: 5px;
    height: 30px;
    background: #f5ece6;
    box-shadow: 2px 2px 4px #59352d;
    color:#34201b;
}
.modalButtons{
    margin: auto 0;
}
.submitBtns:active{
    background-color: #59352d;
}
#myDropDown{
    display: flex;
    justify-content: start;
}

@media screen and (min-width:650px) {
    .searchbar{
        display:flex;
    }
    #myDropDown {
        flex-direction: row;
    }
}
@media screen and (max-width:650px) {
    #myDropDown {
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
    }
}